<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil del cliente</title>
</head>

<body>
    {% if form %}
        <h1>informacion del cliente</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
             <button type="submit" name="editar" value="editar">Guardar Cambios</button>
        </form>
    {% else %}
        <div>no se encontro informacion para el cliente solicitado</div>
    {% endif %}
    </body>


</html>