{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
    <h1>Insertar datos</h1>
    <form id="frminsertar" method="POST" action="">
        {% csrf_token %}
        <label for="name">Documento:</label>
        <input type="text" name="Documento" id="documento">
        <label for="description">Nombre:</label>
        <input type="text" name="Nombre" id="nombre">
        <label for="description">Apellido:</label>
        <input type="text" name="Apellido" id="apellido">
        <label for="description">Correo:</label>
        <input type="text" name="Correo" id="correo">
        <label for="description">Celular:</label>
        <input type="text" name="Celular" id="celular">
        <input type="submit" value="Guardar">
    </form> 
    <table id="tablaClientes">
        
      </table>
    <h1>{{ mensaje }}</h1>
    <script src="{% static 'js/clientes.js' %}"></script>
    <script src="{% static 'js/consultar.js' %}"></script>
</body>
</html>